<img src="Data/sakila-db-model.png">

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'Perfecto47' # whatever password you chose during MySQL installation.

In [2]:
import json
with open('/Users/milkasantana/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/sakila"
engine = create_engine(connection)

In [4]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

In [5]:
q = """SHOW TABLES"""
pd.read_sql(q, engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'

## What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [ ]:
q= '''SELECT c.first_name, c.last_name, c.email, a.address, ct.city
FROM customers c
JOIN addresses a ON c.address_id = a.address_id
JOIN cities ct ON a.city_id = ct.city_id
WHERE ct.city_id = 312;'''

pd.read_sql(q,engine)

## 2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [ ]:
q= '''SELECT f.title, f.description, f.release_year, f.rating, f.special_features
FROM films f
JOIN film_categories fc ON f.film_id = fc.film_id
JOIN categories c ON fc.category_id = c.category_id
WHERE c.category_name = 'Comedy';'''

pd.read_sql(q,engine)

## 3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [ ]:
q= '''SELECT a.last_name, f.title, f.release_year
FROM actors a
JOIN film_actors fa ON a.actor_id = fa.actor_id
JOIN films f ON fa.film_id = f.film_id
WHERE a.last_name = 'Lollobrigida' AND a.first_name = 'Johnny';'''

pd.read_sql(q,engine)

## 4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [ ]:
q= '''SELECT a.first_name, a.last_name
FROM actors a
JOIN film_actors fa ON a.actor_id = fa.actor_id
JOIN films f ON fa.film_id = f.film_id
WHERE f.title = 'Bingo Talented';'''

pd.read_sql(q,engine)

## 5.What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [ ]:
q= '''SELECT p.customer_id, p.amount
FROM payments p
WHERE p.amount > (SELECT 2 * AVG(amount) FROM payments);'''

pd.read_sql(q,engine)

## 6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [ ]:
q= '''SELECT c.first_name, c.last_name, COUNT(p.payment_id) AS num_payments
FROM customers c
JOIN payments p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY num_payments DESC
LIMIT 5;'''

pd.read_sql(q,engine)